@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(28, 28, 28);
  color: rgb(237, 237, 237);
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
