@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(28, 28, 28);
  background-color: #f7f9f9;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
